body {
  font-family: Arial, sans-serif;
  background: #eef5fb;
  text-align: center;
  margin: 0;
}

h1 {
  margin-top: 20px;
  font-size: 40px;
  color: #1f3c5a;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  background: #2daae1;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background: #1c8ec2;
}

#gameBoard {
  display: grid;
  gap: 12px;
  justify-content: center;
  margin: 30px auto;
  padding: 20px;
  background: #dfe9f3;
  border-radius: 20px;
  width: fit-content;
}

/* PIPE TILE */
.pipe {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid #2daae1;

  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;

  transition: transform 0.2s;
}

/* START / END */
.start {
  border: 3px solid green;
}

.end {
  border: 3px solid orange;
}

.footer {
  margin-top: 20px;
}